@use '@/shared/styles/breakpoints' as *;

.heading {
  font-size: var(--fs-24);
  @include xs {
    font-size: var(--fs-24);
  }
}

.micro-heading {
  font-size: var(--fs-20);
}
.under-heading {
  color: var(--color-text-muted);
  font-size: var(--fs-16);
  @include xs {
    font-size: var(--fs-16);
  }
}
