.button {
  padding: var(--pad-xs) var(--pad-md);
  border-radius: var(--radius-md);
  font-weight: 500;
  transition: background 0.1s ease;
  &:hover {
    cursor: pointer;
  }
}
.primary {
  background-color: var(--color-primary);
  &:hover {
    transition: background 0.3s ease;
    background-color: var(--color-primary-hover);
  }
  &:active {
    transition: background 0.1s ease;
    background-color: var(--color-primary-active);
  }
}
.secondary {
  background-color: transparent;
  color: var(--color-text-muted);
  &:hover {
    background-color: var(--color-primary);
    color: var(--color-text);
  }
  &:active {
    transition: background 0.1s ease;
    background-color: var(--color-primary-active);
  }
}
